* {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  text-align: center;
}

.beginGame, .waitingForPlayers, .biddingRoundView, .waitingForTrumpView, .trumpContainer, .playRoundView {
  position: absolute;
  width: 100%;
  font-size: 24px;
}

.beginGame, .waitingForPlayers, .waitingForTrumpView {
  height: 60%;
  top: 20%;
}

.beginGame, .beginGame div {
  display: flex;
  flex-direction: column;
}

.beginGame div {
  margin: auto;
}

.beginGame input {
  border: 1px solid black;
  font-size: 24px;
}

.beginGameHeader, .waitingForPlayersHeader {
  font-size: 40px;
}

.beginGameButton {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  transition: ease-in color 300ms, ease-in background-color 300ms;
}

.beginGameButton:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.biddingRoundView, .playRoundView {
  height: 100%;
  display: flex;
}

.biddingRoundSidebar, .playRoundSidebar {
  width: 10%;
  display: flex;
  flex-direction: column;
}

.biddingRoundContent, .playRoundContent {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.gameName {
  font-size: 32px;
  word-wrap: break-word;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.biddingZone {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  margin-top: 125%;
  margin-left: 20px;
}

.bidValueLabel {
  margin-top: 20%;
}

.bidButtonContainer {
  margin-top: 20px;
}

.increaseBidButtons {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

.bidButton {
  padding: 10px;
  font-size: 15px;
}

.quitBiddingButton {
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  width: 80%;
}

.playersContainer {
  width: 100%;
  display: flex;
  height: 25%;
  min-height: 240px;
}

.players {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
}

.player {
  margin: 0 100px;
  width: 131px;
  height: 200px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.player span {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.p0 {
  border-color: darkturquoise;
  color: darkturquoise;
}

.p1 {
  border-color: lightcoral;
  color: lightcoral;
}

.p2 {
  border-color: darkseagreen;
  color: darkseagreen;
}

.p3 {
  border-color: rosybrown;
  color: rosybrown;
}

.p4 {
  border-color: cornflowerblue;
  color: cornflowerblue;
}

.playerName {
  margin-top: 20%;
  margin-bottom: 20%;
}

.playerScore {
  margin-top: 10%;
}

.myCardsContainer {
  height: 30%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.myName {
  margin: 0 auto;
}

.myCards {
  margin: 0 auto;
  border-top: 1px solid black;
}

.myCards img {
  padding: 10px;
  height: 200px;
  width: 131px;
}

.myCards img:hover {
  cursor: pointer;
}

.myScores {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.myScores div {
  margin: 0 auto;
  font-size: 18px;
}

.trumpContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.trumpBox {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.trumpBoxHeader {
  margin: 20px auto;
  font-size: 24px;
}

.trumps {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.trumpWithLabel {
  display: flex;
  flex-direction: column;
}

.trumpWithLabel img {
  width: 88px;
  height: 133px;
  margin: 0 40px;
}

.trumpLabel {
  margin: 10px auto;
}

.trump {
  border: 2px solid lavender;
  border-radius: 10px;
}

.selectedTrump {
  border: 2px solid violet;
  border-radius: 10px;
}

.selectedLabel {
  font-weight: bold;
}

.helperContainer{
  text-align: center;
}

.waitingForTrumpView {
  font-size: 32px;
}

.helperContainer img {
  width: 65px;
  height: 100px;
  margin: 10px;
}

.helperHeader {
  font-size: 18px;
  margin-top: 20px;
}

.trumpWithLabel img:hover, .helperContainer img:hover, .proceedButton:hover, .bidButton:hover, .quitBiddingButton:hover {
  cursor: pointer;
}

.helper {
  border: 2px solid lavender;
  border-radius: 6px;
}

.selectedHelper {
  border: 2px solid violet;
  border-radius: 6px;
}

.proceedButton {
  margin: 20px auto;
  padding: 10px 0;
  width: 7%;
  font-size: 18px;
}

.biddingInfo {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 5px;
}

.biddingInfo span {
  margin: 0 auto;
}

.miniTrumpAndHelper {
  position: fixed;
  top: 35%;
  left: 20px;
}

.miniTrump, .miniHelper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.miniTrump span, .miniHelper span {
  text-align: center;
  font-size: 18px;
}

.miniTrump img , .miniHelper img {
  width: 65px;
  height: 100px;
  margin: 5px auto;
}

.miniHelper img {
  margin: 5px;
}

.turn, .round {
  position: fixed;
  left: 20px;
  display: flex;
}

.turn {
  top: 90%;
}

.round {
  top: 85%;
}

.round span, .turn span {
  margin: 0 auto;
  font-size: 32px;
}

.playArea, .filler {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 45%;
}

.playerCards {
  display: flex;
  margin: 0 auto;
}

.yetToPlay, .playerCard {
  width: 88px;
  height: 133px;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  margin: 40px 60px;
}

.yetToPlay span {
  margin: auto;
  text-align: center;
}

.yetToPlay {
  display: flex;
}

.p5 {
  border-color: black;
  margin: 40px auto;
}

.blurCard {
  opacity: 0.3;
}

.ally {
  background-color: rgba(0, 255, 0, 0.05);
}

.enemy {
  background-color: rgba(255, 0, 0, 0.05);
}

.bidders {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.bidders span {
  margin: 0 auto;
}
